#grid {
  height: 80vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
}

#buttons {
  display: flex;
  width: 100vh;
  justify-content: space-around;
}

.row {
  width: 100vh;
  display: flex;
}

.case {
  outline: 1px solid black;
}

.case:hover {
  background-color: aqua;
}

.ship {
}

.shiphit,
.shipmiss, .disable {
  pointer-events: none;
  cursor: not-allowed;
}

.shiphit {
  background-color: rgb(129, 9, 9);
}

.shipmiss {
  background-color: rgb(16, 88, 231);
}

#container {
    width: 100vw;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
